@import '../../../colors';

:host {
  display: flex;
  flex-direction: column;
  margin: 1rem 3rem 0 1rem;
  align-items: center;
}

.cards {
  .card {
    width: 100%;

    .title {
      text-align: center;
    }

    .body {
      text-align: justify;
    }
  }
}

@media only screen and (min-width:600px) {
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .card {
      width: 45%;
    }
  }
}
