@import '../colors';

:host {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;

}

a {
  color: white;
}

a.active {
  color: $light;
}

.main-toolbar {
  width: 100vw;
  height: 100%;
  font-size: 1.5rem;

  .container {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 1rem;
  }


}

.main-footer {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    border-top: 1px solid lightgrey;
    margin: 1rem;
    padding-top: 1rem;
    color: #666666;

    a {
      color: $fawn;
    }
  }

}

main {
  flex: 1;

  .container {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 1rem 0 1rem 0;
  }
}

@media only screen and (min-width: 600px) {
  .main-toolbar {
    height: 4rem;

    .container {
      display: flex;
      flex-direction: row;
      margin: 0 8rem 0 8rem;
    }

    .toolbar-link {
      padding: 0 0 0 1rem;

    }
  }

  main {
    .container {
      margin: 2rem 8rem 2rem 8rem;
    }
  }

  .main-footer {
    .container {
      flex-direction: row;
      margin: 2rem 8rem 1rem 8rem;

    }
  }
}
