:host {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.form-step {
  flex: 1;
  display: flex;
}


.form-buttons {
  button {
    margin-right: 1rem;
    margin-top: 1rem;
  }
}
